<h1>PulSer</h1>

<p><small>
Copyright &copy; 2011-2015 Joseph C. Lehner</p>
Copyright &copy; 2020 PulSer</p>

<p>PulSer is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version. Additional terms apply.</p>

<p>RxDroid is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>

<p>You should have received a copy of the GNU General Public License
along with PulSer.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>

<p><strong>Additional Terms (Section 7, GNU GPLv3)</strong></p>

<ul>
<li><p>Any propagation or conveyance of this program must include this
copyright notice and these terms.</p></li>
<li><p>You may not misrepresent the origins of this program; modified
versions of the program must be marked as such and not identified
as the original program.</p></li>
</ul>


<p><strong>Artwork</strong></p>

<p>Unless otherwise stated, all artwork is licensed under a Creative
Commons Attribution-NonCommercial-ShareAlike 3.0 license.
</small></p>

<hr />

<h1>Third Party Works</h1>

<h4>Libraries</h4>

<ul>
<li><a href="http://developer.android.com/tools/support-library">support-v4</a> by
Android Open Source Project</li>
<li><a href="http://developer.android.com/tools/support-library">appcompat-v7</a> by
Android Open Source Project</li>
<li><a href="http://ormlite.com">ORMLite</a> by Gray Watson</li>
<li><a href="http://www.joda.org/joda-time/">Joda-Time</a></li>
<li><a href="https://github.com/JakeWharton/NineOldAndroids">NineOldAndroids</a> by
Jake Wharton</li>
<li><a href="https://github.com/jclehner/ShowcaseView">ShowcaseView</a> by Alex Curran,
modified by Joseph C. Lehner</li>
<li><a href="http://www.lingala.net/zip4j">zip4j</a> by Srikanth Reddy Lingala</li>
</ul>


<h4>Artwork</h4>

<ul>
<li><tt>ic_pipette_*.png</tt>: based on <a href="http://www.iconarchive.com/show/outline-icons-by-designcontest.html">Outline Icons</a></li>
</ul>

